.font-weight-bold {
	font-weight: bold;
}

.font-weight-normal {
	font-weight: normal;
}

.gw-item-label{
	margin-top: 30px;
}

.gw-item{
	margin-top: 10px;
}

.gw-fieldset{
	margin-bottom: 30px;
	font-size: 120%;
}

.gw-introduction{
	margin-bottom:40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 1.5;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}

fieldset > legend {
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-bottom: 15px;
	font-size: 28px;
}

.avoid-break {
    page-break-inside: avoid;
}

.noBreakAfter::after {
    page-break-after: avoid;
}

@media print {
    .gw_chart {
        width: 90% !important;
        height: auto !important;
    }
}

